<br>
<hr style="height:3px;color:gray;background-color:gray;">
<div class="container d-flex justify-content-center">
    <div class="row align-items-start">
        <div class="col">
            <p>Sede legale:</p>
            <a href="https://maps.app.goo.gl/dAWmLLbtSvFxKYnK8"><p><i class="bi bi-geo-alt"></i> Via Sommarive, 9, 38123 Povo TN </p></a>
        </div>
        <div class="col">
            <p>Partita IVA:</p>
            <p><i class="bi bi-file-earmark"></i> IT99999999999</p>
        </div>
        <div class="col">
            <p>Contatti:</p>
            <a href="tel:+39 123 456 7890"><p><i class="bi bi-telephone"></i> +39 123 456 7890</p></a>
            <a href="mailto:oddssey@gmail.com"><p><i class="bi bi-envelope-at"></i> oddssey@gmail.com</p></a>
        </div>
    </div>
</div>


<!--
<div class="d-flex justify-content-center">
    <div class="row align-items-start">
        <div class="col-md-4">
            <p>Sede legale:</p>
            <a href="https://maps.app.goo.gl/dAWmLLbtSvFxKYnK8"><p><i class="bi bi-geo-alt"></i> Via Sommarive, 9, 38123 Povo TN </p></a>
        </div>
        <div class="col-md-4">
            <p>Partita IVA:</p>
            <p><i class="bi bi-file-earmark"></i> IT99999999999</p>
        </div>
        <div class="col-md-4">
            <p>Contatti:</p>
            <a href="tel:+39 123 456 7890"><p><i class="bi bi-telephone"></i> +39 123 456 7890</p></a>
            <a href="mailto:oddssey@gmail.com"><p><i class="bi bi-envelope-at"></i> oddssey@gmail.com</p></a>
        </div>
    </div>
</div>-->