<br>
<form class="row g-3 d-flex" id="form" data-bs-theme="dark" onreset="resetForm()" oninput="validatePasswordChange()">
    <div th:if="${wrongPassword}" class="alert alert-danger col-md-10" role="alert">Password errata!</div>
    <div th:if="${passwordChanged}" class="alert alert-success col-md-10" role="alert">Password cambiata!</div>

    <div class="col-md-5">
        <div class="input-group">
            <div class="form-floating">
                <input type="password" id="password" name="password" class="form-control" placeholder="Scrivere qui la password nuova:"
                       pattern="(?=(.*\d){2,})(?=.*[\!\@\#\$\%\^\&\*\(\)\,\.\?\{\}\|\<\>]).{9}" oninput="matchPassword()"
                       onkeyup="matchPassword()" onblur="hideMessage()" onfocus="showMessage()"
                       title="Must contain two digits and one special character, and 9 characters in total" required>
                <label for="password" class="form-label">Password nuova:</label>
            </div>
            <div class="input-group-text"> <button type="button" class="btn" onclick="showPassword('password')"><i class="bi bi-eye fs-5" id="passwordIcon"></i></button> </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="input-group">
            <div class="form-floating">
                <input type="password" id="confirmPassword" class="form-control" placeholder="Ripetere qui la password nuova:"
                       onkeyup="matchPassword()" title="Must match the password" required>
                <label for="confirmPassword" class="form-label">Ripeti la nuova password:</label>
            </div>
            <div class="input-group-text"> <button type="button" class="btn" onclick="showPassword('confirmPassword')"><i class="bi bi-eye fs-5" id="confirmPasswordIcon"></i></button> </div>
        </div>
    </div>

    <div th:replace="~{segments/passwordCheck.html}"></div>

    <div class="col-md-5">
        <div class="input-group">
            <div class="form-floating">
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="Scrivere qui la password:"
                       pattern="(?=(.*\d){2,})(?=.*[!@#$%^&*(),.?\:{}|<>]).{9}"
                       title="Must contain two digits and one special character, and 9 characters in total" required>
                <label for="oldPassword" class="form-label">Password vecchia:</label>
            </div>
            <div class="input-group-text"> <button type="button" class="btn" onclick="showPassword('oldPassword')"><i class="bi bi-eye fs-5" id="oldPasswordIcon"></i></button> </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-5 d-flex justify-content-center">
        <button type="reset" class="btn btn-primary">Svuota campi</button>
    </div>
    <div class="col-md-2 col-sm-5 d-flex justify-content-center">
        <button type="button" onclick="changePassword()" class="btn btn-primary" id="submit-btn" disabled>Cambia</button>
    </div>
</form>
<br>