<br>
<form class="row g-3 d-flex" th:action="@{/publishReview}" data-bs-theme="dark" method="post" style="padding: 5%">
    <div class="col-md-7">
        <label>Voto:</label>

        <button type="button" class="btn btn-outline-secondary" id="rating-1" onclick="setRating(1)"><i class="bi bi-star-fill"></i></button>

        <button type="button" class="btn btn-outline-secondary" id="rating-2"  onclick="setRating(2)"><i class="bi bi-star" id="rating-2-icon"></i></button>

        <button type="button" class="btn btn-outline-secondary" id="rating-3"  onclick="setRating(3)"><i class="bi bi-star" id="rating-3-icon"></i></button>

        <button type="button" class="btn btn-outline-secondary" id="rating-4"  onclick="setRating(4)"><i class="bi bi-star" id="rating-4-icon"></i></button>

        <button type="button" class="btn btn-outline-secondary" id="rating-5"  onclick="setRating(5)"><i class="bi bi-star" id="rating-5-icon"></i></button>
    </div>
    <input type="hidden" id="rating" name="rating" th:value="${startingRating}">
    <div class="col-md-5">
        <p th:if="${reviewPublished}">Pubblicata il <span th:text="${oldReviewDate}"></span></p>
    </div>
    <div class="col-md-10"><p></p></div>
    <div class="col-md-10 form-floating">
        <input type="text" class="form-control" placeholder="Scrivere qui una recensione (opzionale):" id="reviewText" name="reviewText" th:value="${oldReviewText}">
        <label for="reviewText" class="form-label">Scrivere qui una recensione (opzionale):</label>
    </div>

    <div class="col-5 d-flex justify-content-center">
        <button type="reset" class="btn btn-primary">Svuota campi</button>
    </div>
    <div class="col-5 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Pubblica</button>
    </div>
</form>
<br>