<h1>Partite di <span th:text="${sport}"></span> del <span th:text="${date}"></span></h1>
<form onsubmit="submitWager(); return false;" action="">
<table class="table table-striped table-hover table-dark">
    <thead>
    <tr id="table-header">
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">Squadra di casa</th>
        <th scope="col" class="text-center">Squadra ospite</th>
        <th scope="col" class="text-center">Pronostico</th>
        <th scope="col" class="text-center" th:if="${done}">Indovinato</th>
    </tr>
    </thead>
    <tbody class="table-group-divider" id="table-body">
    <tr th:each="match, iterStat : ${matchList}">
        <th scope="row" class="text-center" th:text="${match.id}"></th>
        <td th:text="${match.homeTeam}" class="text-center"></td>
        <td th:text="${match.awayTeam}" class="text-center"></td>
        <td>
            <div class="form-floating">
                <input class="form-control" list="datalistOptions"
                       name="bet" placeholder="Scegliere 0, 1 o 2:" data-bs-theme="dark">
                <datalist id="datalistOptions">
                    <option value="0"></option>
                    <option value="1"></option>
                    <option value="2"></option>
                </datalist>
                <label class="form-label">Scegliere 0, 1 o 2:</label>
            </div>
        </td>
        <td th:if="${done}" class="text-center">
            <i th:if="${confirmations.get(iterStat.index)}" class = "bi bi-check-lg" style = "color: green"></i>
            <i th:unless="${confirmations.get(iterStat.index)}" class = "bi bi-x-lg" style = "color: red"></i>
        </td>
    </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center"><button class="btn btn-primary" id="submit-btn" type="submit">Invia pronostici</button></div>
<br>
</form>