<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iscritto</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/icon.avif}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="/mainStyle.css">
    <script type="text/javascript" src='/processor.js'> </script>
</head>
<body>
    <div th:replace="~{segments/navbar.html}"></div>

    <div class="container">
        <div class="row g-3 d-flex justify-content-center">
            <h1 class="col-12">Iscrizione avvenuta con successo!</h1>
            <a th:href="@{/dashboards/dashboard}" class="btn btn-primary" style="font-size: 2rem;">Dashboard</a>
        </div>
    </div>

    <div th:replace="~{segments/footer.html}"></div>
</body>
</html>